.wowgear  {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wowgear em {
    color: white;
}

.wowgear ul {
    display: inline-block;
     
}

.wowgear li {
    list-style-type: none;
    margin: 20px;
}

header li {
    display: inline-block;
    position: relative;
}

.topnav {
    background-color: #333;
    font-size: 20px;
}

.topnav a, .topnav span {
    float: left;
    color: white;
    padding: 14px 16px;
    position: relative;
}

.topnav a:hover {
    background-color: white;
    color: black;
    position: relative;
}

.topnav a.active, .topnav span.active {
    background-color: #04aa6d;
    position: relative;
}

.hero-image {
    background-image: url("../images/hero-background.png");
}

.race-page {
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.race-page p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.hero-background {
    background-color: #17130f;
}

.race-page ul {
    display: inline-block;
    font-size: 20px;
    margin: 3%;
}

.race-page h3 {
    display: inline-block;
}

li a {
    color: #04aa6d;
}

em {
    color: #FFD700;
}

.abilitie {
    position: relative;
    display: inline-block;
    border-bottom: 1px black;
}

.abilitie .abilitie-text {
    z-index: 1;
    visibility: hidden;
    width: 200px;
    background-color: #2b2e2d;
    color: #FFD700;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    border: 1px solid black;
    right: 0;
}

.abilitie:hover .abilitie-text {
    visibility: visible;
}

.me-img {
    background-image: url("../images/me.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.home-page {
    background-color: #1a1c1b;
    opacity: 0.90;
    width: 75%;
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
    margin: auto;
}

.home-page p {
    margin-left: 10%;
    margin-right: 10%;
}

.feedback-background {
    background-color: #17130f;
    
}

.feedback-area {
    color: white;
    font-size: 20px;
    width: 70%;
}
.feedback-area div {
    display: inline-block;
    text-align: justify;
}

fieldset {
    max-width: 700px;
    text-align: center;
}
.contact-info {
    display: inline;
}
.conf {
    color: white;
    text-align: center;

}
form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
textarea {
    width: 70%;
    resize: none;
}