.topnav {
    background-color: #363b39;
}

.topnav a {
    float: left;
    color: #363b39;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #363b39;
    color: white;
}

.topnav a.active {
    background-color: #04AA6D;
    color: #363b39;
}
.hero-image {
    background-image: url("https://images7.alphacoders.com/878/thumb-1920-878332.jpg")
}